@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Inter';
}
@media screen and (min-width: 768px)
{
  .img_logo{
      display: flex;
    justify-content: space-between;
    background: #000;
  }
  .width_mobile{
    background: #000;
  }
  .bg_mobile{
    background: #000;
  }
  .logo_mobi{
    margin-left:350px;
    display: none;
  }

}
@media screen and ( min-width: 1025px){
  .logo_mobi{
    display: block;
  }
}
@media screen and ( min-width: 1024px){
  .icon_back {
    position: absolute;
    right: 56rem;
}
}
@media  (max-width: 768px){ 
  .icon_navbar{
    position: absolute !important;
  }
  .menu_mobile{
position: absolute;
top: -65px;
  }
.icon_logos{
  margin-top: -15px;
  margin-left: -10px;
}
  .logo_mobi{
    display: block;
  }
  .img_logo{
    width: 230px;
    /* border-bottom: 2px solid orange; */
    background: transparent;
  }
  .icon_back{
    position: absolute;
    left: 185px;
    top: 13px
  }
  .width_mobile{
    background: transparent ; 
    padding-right: unset;
  }
  .logo_mobi{
    display: none;
  }
  
}
